In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/Llama2-7b-demo-main/miniproj/reviews_dataset.csv",index_col=0)
df

,rating,review,movie_name,sentiment
0,10,I had wanted to see this film from the moment ...,Khách Sạn Rwanda,1
1,10,"If you call common sense, and a human heart yo...",Oldboy: Báo Thù,1
2,10,George Miller's masterpiece Mad Max:Fury Road ...,Max Điên: Con Đường Tử Thần,1
3,10,"One of the early ""historical epics"" to set off...",Trái Tim Dũng Cảm,1
4,10,Music is banned in Miguel's household after hi...,Coco: Hội Ngộ Diệu Kỳ,1
...,...,...,...,...
17065,1,I don't get why this is so treasured by everyb...,Phù Thủy Xứ Oz,0
17066,8,Such an amazing film. I grew up on this movie ...,Toy Story 2,1
17067,1,It's rare that I turn down an opportunity to s...,Lịch Sử Mĩ Thế Kỉ X,0
17068,10,nadia is hot thats all i have to say,Redline,1
17069,10,"I have seen some great movies, old or new. The...",Sự Im Lặng Của Bầy Cừu,1

In [3]:
df = df.sort_values("movie_name", ignore_index=True)

In [4]:
df

,rating,review,movie_name,sentiment
0,10,"This film is superb, in fact as Shakespeare on...",12 Người Đàn Ông Giận Dữ,1
1,1,I remember watching this movie on one my last ...,12 Người Đàn Ông Giận Dữ,0
2,1,"A fictional story story about ""jury nullificat...",12 Người Đàn Ông Giận Dữ,0
3,4,12 Angry men is a film in which maybe those ov...,12 Người Đàn Ông Giận Dữ,0
4,1,"In the movie The 12 Angry Man, I didn't like t...",12 Người Đàn Ông Giận Dữ,0
...,...,...,...,...
17065,10,"The Prestige, adapted from an award winning no...",Ảo Thuật Gia Đấu Trí,1
17066,10,Every so often I see a film that I get addicte...,Ảo Thuật Gia Đấu Trí,1
17067,1,"This movie was bad, really bad. It is longer t...",Ảo Thuật Gia Đấu Trí,0
17068,1,It's a movie with a twist that puts it into th...,Ảo Thuật Gia Đấu Trí,0
17069,1,I'm a Hugh Jackman fan. A few years ago on a b...,Ảo Thuật Gia Đấu Trí,0

In [5]:
df.loc[df['sentiment'] == 1, 'sentiment'] = 'Positive'

In [6]:
df.loc[df['sentiment'] == 0, 'sentiment'] = 'Negative'

In [7]:
df

,rating,review,movie_name,sentiment
0,10,"This film is superb, in fact as Shakespeare on...",12 Người Đàn Ông Giận Dữ,Positive
1,1,I remember watching this movie on one my last ...,12 Người Đàn Ông Giận Dữ,Negative
2,1,"A fictional story story about ""jury nullificat...",12 Người Đàn Ông Giận Dữ,Negative
3,4,12 Angry men is a film in which maybe those ov...,12 Người Đàn Ông Giận Dữ,Negative
4,1,"In the movie The 12 Angry Man, I didn't like t...",12 Người Đàn Ông Giận Dữ,Negative
...,...,...,...,...
17065,10,"The Prestige, adapted from an award winning no...",Ảo Thuật Gia Đấu Trí,Positive
17066,10,Every so often I see a film that I get addicte...,Ảo Thuật Gia Đấu Trí,Positive
17067,1,"This movie was bad, really bad. It is longer t...",Ảo Thuật Gia Đấu Trí,Negative
17068,1,It's a movie with a twist that puts it into th...,Ảo Thuật Gia Đấu Trí,Negative
17069,1,I'm a Hugh Jackman fan. A few years ago on a b...,Ảo Thuật Gia Đấu Trí,Negative

In [8]:
df['train'] = '<s>[INST] ' + df['review'] + ' [/INST] ' + df['sentiment'] + ' </s>'

In [9]:
newdf = df[['train']]

In [10]:
newdf

                                                   train
0      <s>[INST] This film is superb, in fact as Shak...
1      <s>[INST] I remember watching this movie on on...
2      <s>[INST] A fictional story story about "jury ...
3      <s>[INST] 12 Angry men is a film in which mayb...
4      <s>[INST] In the movie The 12 Angry Man, I did...
...                                                  ...
17065  <s>[INST] The Prestige, adapted from an award ...
17066  <s>[INST] Every so often I see a film that I g...
17067  <s>[INST] This movie was bad, really bad. It i...
17068  <s>[INST] It's a movie with a twist that puts ...
17069  <s>[INST] I'm a Hugh Jackman fan. A few years ...

[17070 rows x 1 columns]

In [11]:
newdf.to_csv('/data/Llama2-7b-demo-main/miniproj/moviereviewtitle.csv', index=False)

In [12]:
pd.set_option('display.max_colwidth', None)

In [13]:
newdf.iloc[2]

train    <s>[INST] A fictional story story about "jury nullification", and confirmation bias. It's an example of the refusal of a jury to find a defendant guilty, even when the facts establish guilt, because that conviction would be contrary to some other concept of justice. [/INST] Negative </s>
Name: 2, dtype: object

In [14]:
newdf = newdf.dropna()

In [15]:
newdf.to_csv('/data/Llama2-7b-demo-main/miniproj/moviereviewtitle.csv', index=False)